@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-bg-light: #f8fafc;
  --color-bg-dark: #0f172a;
  --color-card-light: #ffffff;
  --color-card-dark: #1e293b;
  --color-text-light: #1e293b;
  --color-text-dark: #e2e8f0;
}